<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{css/style.css}"/>
	<link rel="stylesheet" href="../../static/css/simplex/bootstrap.min.css" th:href="@{css/simplex/bootstrap.min.css}"/>
	<script th:scr="@{webjars/jquery/jquery.min.js}"></script>
	<script th:scr="@{webjars/bootstrap/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header::header">
	
	</div>
	
	<div layout:fragment="content">
	
	</div>
	
	<div th:replace="fragments/footer::footer">
	
	</div>	
</body>
</html>