<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout:="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{fragments/main_layout}">
<head>
	<title>Index Page</title>
</head>
<body>

	<div layout:fragment="content" class="container spacer">
		<div class="jumbotron">
			<p class="display-4">Hello! Welcome to your RPI Work Study Task Scheduler. :)</p>
			<hr class="my-4">
  			<p>Please click the <button type="button" class="btn-primary">Register</button> tab above if you're a new work study student</p>
  			<p> or the <button type="button" class="btn-primary">Log In</button> tab to sign in as a current work study student!</p>
		</div>
	</div>

</body>
</html>